---
layout: default
---

<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header" id="top">
    <h1 class="post-title p-name" itemprop="name headline">{{ page.title | escape }}</h1>
  </header>

  <div class="post-container">

    <!-- Sticky TOC sidebar -->
    <aside class="toc">
      <a href="#" class="toc-return-top">↑ Return to top</a>
      {% include toc.html html=content id="toc" class="section-nav" h_min=1 h_max=3 ordered=false %}
    </aside>

    <!-- Main page content -->
    <div class="post-content e-content" itemprop="articleBody">
      {{ content }}
    </div>

  </div>

</article>