<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    {%- include header.html -%}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    {%- include footer.html -%}

  <script>
  function toggleMenu() {
    var x = document.getElementById("mobileMenu");
    if (x.style.display === "block") {
      x.style.display = "none";
    } else {
      x.style.display = "block";
    }
  }
  </script>
  <script src="{{ '/assets/js/toc-highlight.js' | relative_url }}"></script>
  <script src="{{ '/assets/js/sortable-tables.js' | relative_url }}"></script>
  <script> window.SEARCH_JSON_URL = "{{ '/search.json' | relative_url }}"; </script>
  <script src="{{ '/assets/js/search.js' | relative_url }}"></script>
  <script src="{{ '/assets/js/image-caption.js' | relative_url }}"></script>
  <div id="search-results"></div>
  </body>

</html>