---
layout: default
---
<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header" id="top">
    <h1 class="post-title p-name" itemprop="name headline">{{ page.title | escape }}</h1>
    <p class="post-meta">
      <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        {{ page.date | date: date_format }}
      </time>
      {%- if page.author -%}
        • <span itemprop="author" itemscope itemtype="http://schema.org/Person">
          <span class="p-author h-card" itemprop="name">{{ page.author }}</span>
        </span>
      {%- endif -%}
    </p>
  </header>

  <div class="post-container">
    <!-- Sticky TOC sidebar -->
    <aside class="toc">
      <!-- Return to top always first -->
      <a href="#" class="toc-return-top">↑ Return to top</a>

      <!-- Table of contents -->
      {% include toc.html html=content id="toc" class="section-nav" h_min=1 h_max=3 ordered=false %}
      
      <!-- Comments link -->
      <a href="#comments" class="toc-comments-link">Comments</a>
    </aside>

    <!-- Main post content including comments -->
    <div class="post-content e-content" itemprop="articleBody">
      {{ content }}

      <!-- Comments are now inside the flex layout -->
      {% include comments.html %}

      <!-- Optional return to top (redundant, now also in TOC) -->
      <a href="#top" class="return-to-top">↑ Return to top</a>
    </div>
  </div>

  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>